{% load static %}
<footer class="footer-distributed">

    <div class="footer-left">

        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="MAPA-CARS">
        </div>

        <p class="footer-links">
            <a href="./shop.html">Wypożyczanie</a>

            <a href="./help.html">Pomoc Drogowa</a>

            <a href="/blog">Blog</a>

            <a href="/contact">Kontakt</a>

        </p>

        <p class="footer-company-name">-MAPACARS- &copy; 2019</p>
        <p class="footer-company-name">Created by: Arkadiusz Koziarz</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>ul. Brzozowa 15</span> Jaworzno</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>575 590 929</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:carsmapa@gmail.com">carsmapa@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>O nas</span>
            Zajmujemy się wypożyczaniem samochodów oraz pomagamy kierowcom w wypadkach drogowych. Rzetelnie i
            profesjonalnie podchodzimy do każdego klienta. Jakość naszych usług wyrażona jest w liczbie zadowolonych
            klientów.
        </p>

        <div class="footer-icons">

            <a
                href="https://www.facebook.com/pages/category/Emergency-Roadside-Service/MaPa-Cars-Pomoc-Drogowa-Jaworzno-Wypo%C5%BCyczalnia-Samochod%C3%B3w-582098698853527/"><i
                    class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>

        </div>

    </div>

</footer>