{% load static %}
<nav>
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <a href="/shop">
                <li>Wypożyczanie</li>
            </a>
            <a href="/help">
                <li>Pomoc Drogowa</li>
            </a>
            <a href="/blog">
                <li>Blog</li>
            </a>
            <a href="/contact">
                <li>Kontakt</li>
            </a>
        </ul>
    </div>
    <a href="/" class="logo">
        <img src="{% static 'img/logo.png' %}" alt="MAPA-CARS">
    </a href="/">
</nav>