nav {
  min-height: 100px;
  width: 100%;
  padding: 10px 40px;
  background: #150600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .ham-icon {
  width: 44px;
  height: 40px;
  background: #fff;
}
nav #menuToggle {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
}
nav #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  -webkit-touch-callout: none;
}
nav #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 999;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
nav #menu {
  z-index: 99;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw + 50px);
  height: calc(100vh + 50px);
  margin: -100px 0 0 -50px;
  padding: 125px 100px 50px 50px;
  background: #150600;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
nav #menu a {
  padding: 10px 0;
  font-size: 22px;
  text-decoration: none;
}
nav #menu a li {
  transition: color 0.3s ease;
  color: #fff;
}
nav #menu a li:hover {
  color: #bd0e11;
}
@media (max-width: 576px) {
  nav .ham-icon {
    align-self: center;
  }
  nav .logo {
    justify-self: flex-end;
    display: flex;
    margin: 0;
    width: 160px;
    height: 45px;
  }
  nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 2em;
  }
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #d71014;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.logo {
  width: 220px;
  height: 55px;
}
.logo img {
  width: 100%;
  height: 100%;
}
